* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: text;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:white;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
    overflow: hidden;
}

.app {
    position:absolute;
    left:0px;
    top:0px;
    height:100%;
    width:100%;
    padding:0px;
    margin:0px;
}

a {
    text-decoration: none;
}

#topMenu {
    position: absolute;
    top:0px;
    left:0px;
    width: 100%;
    height: 8%;

    border-bottom: solid 2px black;
}

#topMenu h1 {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding-top: 0px;

    color: #F0713A;
    font-size: 200%;
    font-family: "Segoe UI Black";

    text-align: center;
    line-height: 200%;
}
#topMenu img {
    height: 100%;
    cursor: pointer;
}
#topMenu #return {
    position: absolute;
    top: 0px;
    left: 0px;
    border-right: solid 2px black;
}
#topMenu #menu {
    position: absolute;
    top: 0px;
    right: 0px;
    border-left: solid 2px black;
}

#content {
    margin-top: 13%;
    height: 91%;
    width: 100%;
    overflow-y: auto;

    text-align: center;
}

.separationLine {
    border: 1px solid black;
    width: 80%;
    height: 1px;
    margin: 25px auto;
    background-color: black;
}

.subtitle {
    font-size: 200%;
    font-family: "Segoe UI Black";
    font-weight: bold;
}

.description {
    font-size: 120%;
    font-family: "Segoe UI Black";
    font-weight: bold;

    width: 80%;
    margin-left: 13%;
    margin-bottom: 3px;
    text-align: left;
    color: black;
}
input, select {
    font-size: 120%;
    font-family: "Segoe UI Black";
    font-weight: 800;

    width: 60%;
    margin-bottom: 10px;

    padding: 5px;
}

.button {
    font-size: 150%;
    font-family: "Segoe UI Black";
    font-weight: bold;

    cursor: pointer;

    width: 40%;
    margin: 5px auto;
    padding: 3px 5px;

    color: white;
    background-color: #F0713A;
    vertical-align: middle;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.button_menu {
    font-size: 150%;
    font-family: "Segoe UI Black";
    font-weight: bold;

    cursor: pointer;

    display: inline-block;
    width: 80%;
    max-width: 450px;
    height: 100px;
    line-height: 100px;
    margin-bottom: 50px;

    color: white;
    background-color: #F0713A;
    text-align: center;
    vertical-align: middle;
}

.one_search_result {
    font-size: 120%;
    font-family: "Segoe UI Black";
    font-weight: 800;

    width: 76%;
    text-align: left;
    margin-bottom: 10px;
    margin-left: 12%;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.one_search_result span {
    display: block;
}
.one_search_result span:not(:first-child) {
    margin-left: 30px;
}